*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
#nav {
    display: flex;
    width: 100%;
    height: 100px;
    margin-top: 10px;
    justify-content: space-between;
    background-color: transparent;
    position: fixed;
    top: 0px;
}
#menu {
    display:grid;
    width: 1.6%;
    height: 20%;
    margin-top: 0.7%;
    align-content: space-around;
    margin-left: 2%;
    background-color: transparent;
}
#menu > div {
    height: 1px;
    background-color: black;
    transition: 0.4s;
}
#one {
    width: 90%;
}
#two {
    width: 60%;
}
#three {
    width: 70%;
}
#menu:hover div {
    width: 90%;
}
#logo {
    width: 16%;
}
#logo > img {
    width: 100%;
}
#gap {
    width: 40%;
    background-color: transparent;
}
a {
    text-decoration: none;
    font-weight: none;
    color: black;
}
#cart {
    display: flex;
    width: 5%;
    height: 35%;
    background-color: transparent;
    margin-right: 2%;
}
#search {
    margin-top: 0.7%;
}
#loghelp {
    display: flex;
    width: 10%;
    background-color: transparent;
    justify-content: space-between;
    margin-top: 0.7%;
}
#cart >img {
    width: 45%;
    height: 100%;
    background-color: transparent;
}
