body, html{
  border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    font-family: 'Neue-Helvetica', 'Helvetica', 'Arial', Sans-Serif;;
}
.payment-container{
  padding: 0 2rem;
  position: relative;
}
.paymentTitle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  width: 100%;
  
}
.paymentTitle > h1 {

  font-weight: 600;
  text-transform:uppercase;
  font-size: 1.5rem;
  font-family:monospace;
}
.paymentHeadline{
  border-top: 1px solid rgb(246, 239, 230);
  border-bottom: 1px solid rgb(246, 239, 230);

}
.paymentHeadline > p{
  font-size: .7rem;
  font-weight:bolder;
}
span{
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}

.paymentMethod{
  width: 55% !important;
  display: grid;
  grid-template-columns: repeat(6,130px);
  gap: 4rem;
  text-align: center;
  margin: 100px 0px 0px 80px ;
  
}
.paymentMethod1{
  width: 55% !important;
  display: grid;
  grid-template-columns: 130px;
  /* gap: 4rem; */
  text-align: center;
  margin: 10px 0px 0px 80px ;
  
}
.paymentMethod2{
  width: 55% !important;
  display: grid;
  grid-template-columns: 130px;
  /* gap: 4rem; */
  text-align: center;
  margin: 10px 0px 0px 80px ;
  
}

.paymentMethod > div{
  
  height: 80px;
  padding: 1rem 0;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;}
  
  .paymentMethod > div>label{
    display: flex;
    align-items: center;
    gap: 30px;
    flex-direction: column;
  }
 .paymentMethod > div:hover{ 
  transform: translateY(-8px);
  border: 1px solid #e5e5e5;
  /* padding: 16px 4px 4px; */
cursor: pointer;
}
.paymentMethod>div>label>img{
  width: 40%;
  /* padding-bottom: 1rem; */
}
.paymentMethod>div >label > span{
    font-size: 12px;
}
.paymentMethod1 > div{
  
  height: 80px;
  padding: 1rem 0;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;}
  
  .paymentMethod1 > div>label{
    display: flex;
    align-items: center;
    gap: 30px;
    flex-direction: column;
  }
 .paymentMethod1 > div:hover{ 
  transform: translateY(-8px);
  border: 1px solid #e5e5e5;
 
cursor: pointer;
}
.paymentMethod1>div>label>img{
  width: 40%;
  /* padding-bottom: 1rem; */
}
.paymentMethod1>div >label > span{
    font-size: 12px;
}
.paymentMethod2 > div{
  
  height: 80px;
  padding: 1rem 0;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;}
  
  .paymentMethod2 > div>label{
    display: flex;
    align-items: center;
    gap: 30px;
    flex-direction: column;
  }
 .paymentMethod2 > div:hover{ 
  transform: translateY(-8px);
  border: 1px solid #e5e5e5;
 
cursor: pointer;
}
.paymentMethod2>div>label>img{
  width: 40%;
  /* padding-bottom: 1rem; */
}
.paymentMethod2>div >label > span{
    font-size: 12px;
}
/* img:hover{

} */
button {
  display: block;
  background-color: black;
  color: white;
 
  margin-top: 50px ;
 
  
}


.footerNav{
    position: fixed;
    /* border: 1px solid red; */
    bottom:10px;
    width: 100%;
    height: 60px;
    
}

.footerNav > button{
  position: absolute;
  right: 62px;
  bottom: 20px;
  width: 206px;
  height: 32px;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: sans-serif;
}
